  /* Full page map styling */

  html,
  body {
      height: 100%;
      margin: 0;
      padding: 0;
      color: #4d4d4d;
  }

  p {
      margin: 0;
  }

  .container {
      width: 100%;
      height: 100%;
  }

  .selections {
      width: 100%;
      height: 50%;
      position: fixed;
      top: 50%;
      z-index: 1;
      background-color: #e6e87e;
  }

  .searchFilterRevealHide {
      width: 30%;
      height: 5%;
      position: fixed;
      top: 45%;
      right: 0%;
      z-index: 1;
      background-color: #8cdcda;
  }

  .searchFilterRevealHide p,
  .mainView__overlay-list_noResults p {
      font-family: arial;
      font-size: 2.75vh;
      display: block;
      text-align: center;
      margin: 1.1vh 0;
  }

  .selections__decadeDiv span,
  .selections__decadeDiv_decadeInputContainer span,
  .selections__architectDiv_architectInputContainer span,
  .selections__publicDiv_publicDivInputContainer span,
  .selections p {
      font-family: arial;
      font-size: 3vh;
      display: inline-block;
  }

  .selections__decadeDiv_decadeInputContainer span span {
      padding: 0;
  }

  .selections__searchDiv,
  .selections__publicDiv,
  .selections__architectDiv {
      border-color: #b7b900;
      border-sizing: border-box;
      border-style: solid;
  }

  .selections__searchDiv {
      border-width: 0 0 .5vh 0;
  }

  .selections__architectDiv {
      border-width: 0 0 0 .5vw;
      box-sizing: border-box;
  }

  .selections__publicDiv {
      border-width: .5vh 0 0 0;
      float: left;
      width: 100%;
  }

  .selections__searchDiv_searchBox {
      width: 25vw;
      height: 2vh;
  }

  .selections__decadeDiv,
  .selections__architectDiv {
      width: 50%;
      height: 63%;
      float: left;
  }

  .selections__decadeDiv span,
  .selections__decadeDiv_decadeInputContainer span,
  .selections__architectDiv_architectInputContainer span,
  .selections__publicDiv_publicDivInputContainer span {
      margin-left: 3vw;
      margin-bottom: .5vh;
      padding: .5vmax 1vmax;
      color: #4d4d4d;
  }

  #i1920s {}

  .mainView {
      width: 100%;
      height: 100%;
      position: absolute;
  }

  .selections__searchDiv_btn {
      padding: 1vmin;
      font-family: Helvetica, Arial, Sans-Serif;
      vertical-align: middle;
      box-sizing: border-box;
      height: 3vh;
      display: inline-block;
      width: 18vw;
      font-size: 1.8vh;
      margin-left: 1.5vh;
      margin-bottom: .5vh;
      text-align: center;
      font-weight: 900;
  }

  .selections__searchDiv_showAll {
      background-color: #b1d877;
  }

  .selections__searchDiv_clear {
      background-color: #f16a70;
  }

  .selections__searchDiv_btn:hover {
      background-color: #858585;
  }

  .selections__decadeDiv_decadeInputContainer span:hover,
  .selections__architectDiv_architectInputContainer span:hover,
  .selections__publicDiv_publicDivInputContainer span:hover {
      background-color: #b0afaf; /*#a4a2e8;*/
  }
  /*#clearMap {
      border-top: 1px solid #96d1f8;
      background: #00FFF5;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
      background: -webkit-linear-gradient(top, #bbb, #ffffff);
      background: -moz-linear-gradient(top, #ffffff, #ffffff);
      background: -ms-linear-gradient(top, #ffffff, #ffffff);
      background: -o-linear-gradient(top, #ffffff, #ffffff);
      padding: 2px 4px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
      -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
      box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
      text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
      color: #000000;
      font-size: 2vh;
      font-family: Helvetica, Arial, Sans-Serif;
      text-decoration: none;
      vertical-align: middle;
      width: 17vw;
  }*/

  input[type="checkbox"] {
      display: none;
  }
  /*label:checked {
  color: #e6e87e;
  background-color: #4d4d4d;
}*/

  .selections p {
      margin: 0 auto;
      font-weight: 900;
      padding-left: 2vh;
  }

  .mainView__header {
      height: 10%;
      width: 100%;
      float: left;
      background-color: #8cdcda;
  }

  .mainView__header h2,
  .mainView__overlay-list h2 {
      font-size: 3.5vh;
      text-align: center;
      margin-top: .5vh;
      margin-bottom: .5vh;
      font-family: arial;
  }

  .mainView__overlay-list h2 {
      padding: 0;
      margin-bottom: 0;
      margin-top: 0;
  }

  .mainView__overlay-list_listContents_header h2,
  .mainView__header h2 {
      color: #4d4d4d;
  }

  .mainView__overlay-list_listContents_header {
      height: 10%;
  }

  .mainView__overlay-list_listContents {
      height: 90%;
      overflow-y: scroll;
  }

  .mainView__mapHolder {
      height: 40%;
      width: 100%;
      /*width: 80%;*/
      float: left;
      /*z-index: 0;*/
  }

  .mainView__mapHolder__map {
      width: 100%;
      height: 100%;
  }

  .mainView__overlay-list {
      /*position: absolute;*/
      height: 50%;
      width: 100%;
      /*width: 80%;*/
      float: left;
      /*z-index: 0;*/
      /*left: 80%;*/
      /*z-index: 1;*/
      background-color: #8cdcda;
      overflow-y: scroll;
  }

  .mainView__overlay-list li {
      font-family: arial;
      font-size: 3.5vh;
      color: #4d4d4d;
  }

  .mainView__overlay-list li:hover {
    font-weight: 900;
  }

  .select {
      background-color: #4d4d4d;
  }

  .select label {
      color: #e6e87e;
  }

  @media only screen and (max-width: 650px) and (orientation: landscape) {
      .searchFilterRevealHide {
          width: 50%;
          height: 7.5%;
          position: fixed;
          top: 92.5%;
          right: 0%;
          z-index: 2;
          background-color: #8cdcda;
      }
      .searchFilterRevealHide p,
      .selections__searchDiv_btn {
          font-size: 4vh;
          font-weight: 900;
      }


      .mainView__mapHolder {
        height: 70%;
          width: 50%;
          position: fixed;
          top: 30%;
      }
      .mainView__overlay-list {
        height: 82.5%;
          width: 50%;
          position: fixed;
          top: 10%;
          right: 0;
      }
      .selections {
          height: 82.5%;
          width: 50%;
          position: fixed;
          top: 10%;
          right: 0%;
      }
      .selections__searchDiv {
          position: fixed;
          top: 10%;
          left: 0%;
          width: 50%;
          height: 20%;
          background-color: #e6e87e;
      }
      .selections__searchDiv p {
          float: right;
          position: absolute;
          bottom: 15%;
          right: 15%;
          padding: 0;
          display: inline-block;
          font-size: 4vh;
      }

      .selections p {
        font-size: 4vh
      }
      .selections__searchDiv_searchBox {
          vertical-align: bottom;
          font-size: 3vh;
      }
      .selections__searchDiv_btn {
          width: 50%;
          height: 50%;
          float: left;
          margin: 0;
          font-size: 4vh;
          padding: 2%;
      }
      .selections__publicDiv {
          width: 100%;
          height: 33%;
      }
      .selections__decadeDiv,
      .selections__architectDiv {
          width: 50%;
          height: 67%;
      }
      .mainView__overlay-list_listContents_header h2,
      .mainView__header h2 {
          font-size: 6vh;
      }
      .selections__decadeDiv span,
      .selections__decadeDiv_decadeInputContainer span,
      .selections__architectDiv_architectInputContainer span,
      .selections__publicDiv_publicDivInputContainer span {
          display: flex;
          padding: .5vmax;
          border: solid;
          border-color: #4d4d4d;
          margin: 1vh auto;
          font-size: 4vh;
          border-width: .25vmax;
          text-align: center;
      }
      .selections__decadeDiv_decadeInputContainer,
      .selections__architectDiv_architectInputContainer,
      .selections__publicDiv_publicDivInputContainer {
          display: flex;
          flex-wrap: wrap;
      }

      .select {
      border-width: 0;
  }
  }

  @media only screen and (min-width: 651px) and (min-aspect-ratio: 1/1) {
      .searchFilterRevealHide {
          display: none;
      }
      .mainView {
          height: 67%;
          position: fixed;
          width: 100%;
          top: 0;
      }
      .mainView__header {
          height: 10%;
          width: 100%;
      }
      .mainView__mapHolder,
      .mainView__overlay-list {
          height: 90%;
          width: 50%;
      }
      .mainView__mapHolder {
          width: 67%;
      }
      .mainView__overlay-list {
          width: 33%;
      }
      .mainView__overlay-list li {
          font-size: 2.5vh;
      }
      .mainView__overlay-list_noResults p {
          font-size: 2vw;
      }
      .searchFilterRevealHide p {
          font-size: 2vh;
      }
      .selections {
          height: 33%;
          position: fixed;
          width: 100%;
          top: 67%;
      }
      .selections__searchDiv_btn {
          margin-bottom: 0;
          padding: 0;
          vertical-align: baseline;
          width: 33.5%;
          margin-left: auto;
          margin-right: auto;
      }
      .selections p {
          vertical-align: middle;
          width: 33%;
      }
      .selections__searchDiv {
          height: 15%;
      }
      .selections__searchDiv p {
          text-align: center;
          padding: 0;
      }
      .selections__searchDiv p,
      .selections__searchDiv_btn {
          float: right;
      }
      .selections__searchDiv_btn {
          height: 100%;
          padding: 1.5vh;
      }
      .selections__searchDiv_searchBox {
          width: 70%;
      }
      .selections__decadeDiv,
      .selections__architectDiv {
          height: 85%;
          width: 33.5%;
          float: left;
      }
      .selections__publicDiv {
          height: 85%;
          width: 33%;
          float: left;
          border-width: 0;
          box-sizing: border-box;
      }
      .selections__decadeDiv span,
      .selections__decadeDiv_decadeInputContainer span,
      .selections__architectDiv_architectInputContainer span,
      .selections__publicDiv_publicDivInputContainer span,
      .selections p {
          font-size: 2.5vh;
          padding-top: 1vh;
      }
      .selections__decadeDiv span,
      .selections__decadeDiv_decadeInputContainer span,
      .selections__architectDiv_architectInputContainer span,
      .selections__publicDiv_publicDivInputContainer span {
          margin-top: .3vh;
          margin-bottom: .3vh;
      }
      .selections__searchDiv {
          border-width: 0;
      }
      .selections__searchDiv_btn,
      .selections__decadeDiv {
          border-color: #b7b900;
          border-style: solid;
      }
      .selections__architectDiv,
      .selections__decadeDiv {
          border-width: .5vh .5vw 0 0;
          box-sizing: border-box;
      }
      .selections__searchDiv_btn {
          border-width: 0 .5vw 0 0;
          box-sizing: border-box;
          font-size: 2.5vh;
      }
      .selections__publicDiv {
          border-width: .5vh 0 0 0;
          box-sizing: border-box;
      }
  }
