html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #4d4d4d;
    font-family: arial, sans-serif;
}

p {
    margin: 0;
}

input[type="checkbox"] {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
}

.error {
    z-index: 3;
    text-align: center;
    color: red;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 10%;
    left: 45%;
    padding: 10%;
}

.search-filter-reveal-hide {
    width: 30%;
    height: 5%;
    position: fixed;
    top: 45%;
    right: 0%;
    z-index: 1;
    background-color: #8cdcda;
}

.search-filter-reveal-hide p,
.main-view__overlay-list_no-results p {
    font-family: arial;
    font-size: 2.75vh;
    display: block;
    text-align: center;
    margin: 1.1vh 0;
}

.main-view {
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-view__header {
    height: 10%;
    width: 100%;
    float: left;
    background-color: #8cdcda;
}

.main-view__header h2,
.main-view__overlay-list h2 {
    font-size: 5vw;
    text-align: center;
    font-family: arial;
}

.main-view__header h2 {
    margin-top: .5vh;
    margin-bottom: .5vh;
}

.main-view__overlay-list h2 {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.main-view__overlay-list_list-contents_header h2,
.main-view__header h2 {
    color: #4d4d4d;
}

.main-view__overlay-list_list-contents_header {
    height: 10%;
}

.main-view__overlay-list_list-contents {
    height: 90%;
    overflow-y: scroll;
}

.main-view__overlay-list {
    height: 50%;
    width: 100%;
    float: left;
    background-color: #8cdcda;
    overflow-y: scroll;
}

.main-view__overlay-list li {
    font-family: arial;
    font-size: 3.5vh;
    color: #4d4d4d;
}

.main-view__overlay-list li:hover {
    font-weight: 900;
}

.main-view__map-holder {
    height: 40%;
    width: 100%;
    float: left;
}

.main-view__map-holder__map {
    width: 100%;
    height: 100%;
}

.selections {
    width: 100%;
    height: 50%;
    position: fixed;
    top: 50%;
    z-index: 1;
    background-color: #e6e87e;
    /* Allows KO changes to "top" style to animate */
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}

.selections p {
    margin: 0 auto;
    font-weight: 900;
    padding-left: 2vh;
}

.selections__decade-div span,
.selections__decade-div_decade-input-container span,
.selections__architect-div_architect-input-container span,
.selections__public-div_public-div-input-container span,
.selections p {
    font-family: arial;
    font-size: 2.8vh;
    display: inline-block;
    margin-left: 3vw;
    margin-bottom: .5vh;
    padding: .35vmax 1vmax;
    color: #4d4d4d;
}

.selections__search-div,
.selections__decade-div_decade-input-container,
.selections__architect-div_architect-input-container,
.selections__public-div_public-div-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.selections__decade-div_decade-input-container span,
.selections__architect-div_architect-input-container span,
.selections__public-div_public-div-input-container span {
    display: flex;
}

.selections__decade-div_decade-input-container span:hover,
.selections__architect-div_architect-input-container span:hover,
.selections__public-div_public-div-input-container span:hover {
    background-color: #b0afaf;
}

.selections__search-div,
.selections__public-div,
.selections__decade-div {
    border-color: #b7b900;
    box-sizing: border-box;
    border-style: solid;
}

.selections__decade-div,
.selections__architect-div {
    width: 50%;
    float: left;
}

.selections__search-div {
    border-width: 0 0 .5vh 0;
}

.selections__decade-div {
    border-width: 0 0.5vw 0 0;
    box-sizing: border-box;
}

.selections__public-div {
    border-width: .5vh 0 0 0;
    float: left;
    width: 100%;
}

.selections__search-div_search-box {
    width: 25vw;
    height: 2vh;
    margin: 0 0 0 1vmin;
    padding: 0;
}

.selections__search-div_btn {
    padding: 1vmin;
    font-family: arial, sans-serif;
    vertical-align: middle;
    box-sizing: border-box;
    height: 3vh;
    display: inline-block;
    font-size: 1.8vmax;
    margin-left: 1.5vh;
    margin-bottom: .5vh;
    text-align: center;
    font-weight: 900;
}

.selections__search-div p {
  margin: 0vw 1vw;
  display: flex;
  flex-grow: 1;
  padding: .5vmax 0;
}

.selections__search-div_container {
    display: flex;
    padding: 1vmin;
}

.selections__search-div_btn {
  flex-grow: 1;
  margin-left: 1vw;
  margin-right: 1vw;
}

.selections__search-div_show-all {
    background-color: #b1d877;
}

.selections__search-div_clear {
    background-color: #f16a70;
}

.selections__search-div_btn:hover {
    background-color: #858585;
}

.select {
    background-color: #4d4d4d;
}

.select label {
    color: #e6e87e;
}

.infowindow p {
    text-align: center;
}

.warning {
    color: #f00;
}

@media only screen and (max-width: 650px) and (orientation: landscape) {
    .search-filter-reveal-hide {
        width: 50%;
        height: 7.5%;
        position: fixed;
        top: 92.5%;
        right: 0%;
        z-index: 2;
        background-color: #e6e87e;
    }
    .search-filter-reveal-hide p,
    .selections__search-div_btn {
        font-size: 4vh;
        font-weight: 900;
    }
    .main-view__map-holder {
        height: 70%;
        width: 50%;
        position: fixed;
        top: 30%;
    }
    .main-view__overlay-list {
        height: 82.5%;
        width: 50%;
        position: fixed;
        top: 10%;
        right: 0;
    }
    .selections {
        height: 82.5%;
        width: 50%;
        position: fixed;
        top: 92.5%;
        right: 0%;
    }
    .selections p {
        font-size: 4vh
    }
    .selections__search-div {
        position: fixed;
        top: 10%;
        left: 0%;
        width: 50%;
        height: 20%;
        background-color: #e6e87e;
        display: block;
    }
    .selections__search-div_container {
        height: 50%;
        padding: 0;
        margin: 0 auto;
        width: 75%;
    }
    .selections__search-div p {
        position: absolute;
        padding: 0;
        margin: 3vh auto;
        display: inline;
        font-size: 4vh;
    }
    .selections__search-div_search-box {
        vertical-align: bottom;
        font-size: 3vh;
        width: 25vw;
        height: 3vh;
    }
    .selections__search-div_btn {
        width: 50%;
        height: 50%;
        float: left;
        margin: 0;
        font-size: 4vh;
        padding: 2%;
    }
    .selections__public-div {
        width: 100%;
        height: 33%;
    }
    .selections__decade-div,
    .selections__architect-div {
        width: 50%;
        height: 67%;
    }
    .main-view__overlay-list_list-contents_header h2,
    .main-view__header h2 {
        font-size: 6vh;
    }
    .selections__decade-div span,
    .selections__decade-div_decade-input-container span,
    .selections__architect-div_architect-input-container span,
    .selections__public-div_public-div-input-container span {
        display: flex;
        padding: .5vmax;
        border: solid;
        border-color: #4d4d4d;
        margin: 1vh auto;
        font-size: 4vh;
        border-width: .25vmax;
        text-align: center;
    }
    .select {
        border-width: 0;
    }
}

@media only screen and (min-width: 651px) {
    .main-view {
        height: 67%;
        position: fixed;
        width: 100%;
        top: 0;
    }
    .main-view__header {
        height: 10%;
        width: 100%;
    }
    .main-view__header h2,
.main-view__overlay-list h2 {
    font-size: 2.5vw;
    text-align: center;
    font-family: arial;
}
    .main-view__map-holder,
    .main-view__overlay-list {
        height: 90%;
    }
    .main-view__map-holder {
        width: 67%;
    }
    .main-view__overlay-list {
        width: 33%;
    }
    .main-view__overlay-list li {
        font-size: 2.5vh;
    }
    .main-view__overlay-list_no-results p {
        font-size: 2vw;
    }
    .selections {
        height: 33%;
        position: fixed;
        width: 100%;
        top: 67%;
    }
    .selections__search-div_btn {
        margin-bottom: 0;
        vertical-align: baseline;
        width: 33.5%;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        padding: 1.5vh;
    }
    .selections p {
        vertical-align: middle;
        width: 33%;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .selections__search-div {
        height: 15%;
    }

    .selections__search-div_container {
        display: flex;
        width: 33%;
        box-sizing: border-box;
        order: 3;
    }
    .selections__search-div p {
        text-align: center;
        padding: 0;
        margin-left: 0;
    }
    .selections__search-div p,
    .selections__search-div_btn {
        float: right;
    }
    .selections__search-div_btn {
        border-width: 0 .5vw 0 0;
        box-sizing: border-box;
        font-size: 2.5vh;
    }
    .selections__search-div_search-box {
        width: 16vw;
    }
    .selections p,
    .selections__decade-div span,
    .selections__decade-div_decade-input-container span,
    .selections__architect-div_architect-input-container span,
    .selections__public-div_public-div-input-container span {
        font-size: 2.7vmin;
    }

    .selections__search-div_container p {
        font-size: 2.5vmin;
    }
    .selections__decade-div span,
    .selections__decade-div_decade-input-container span,
    .selections__architect-div_architect-input-container span,
    .selections__public-div_public-div-input-container span {
        margin: .5vh;
    }
    .selections__search-div {
        border-width: 0;
    }
    .selections__search-div_btn,
    .selections__decade-div,
    .selections__architect-div {
        border-color: #b7b900;
        border-style: solid;
    }
    .selections__decade-div,
    .selections__architect-div,
    .selections__public-div {
        height: 85%;
        float: left;
        box-sizing: border-box;
    }
    .selections__decade-div,
    .selections__architect-div {
        width: 33.5%;
        border-width: .5vh .5vw 0 0;
    }
    .selections__public-div {
        width: 33%;
        border-width: .5vh 0 0 0;
    }
}
